{% extends 'base.html' %}

{% block content %}

<form action="gehituerregistroetxea/" method="post">
    {% csrf_token %} 
    <label class="form-label">Izena:</label>
    <input type="text" name="izena" class="form-control" required/>
    <br/><br/>
    <label class="form-label">Herria:</label>
    <input type="text" name="herria" class="form-control" required/>
    <br/><br/>
    <label class="form-label">Pertsona_kop:</label>
    <input type="number" name="pertsonakop" class="form-control" required/>
    <br/><br/>
    <button type="submit" value="submit">Etxea sortu</button>
</form>
{% endblock content %}